:root {
  --background: #000000;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}